{% extends 'base.html.twig' %}

{% block title %}
	{{'Votre compte est activé.'|trans}}
{% endblock %}

{% block body %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="intro row text-center justify-content-center">
						<div class="col-md-9">
							<h6 class="text-black">{{'Votre compte est activé.'|trans}}</h6>
							<h6 class="text-black">{{'Vous pouvez désormais vous connecter à votre espace artisan.'|trans}}</h6>
							<a class="btn btn-primary" href="{{path('artisan_auth')}}" role="button">{{'Se connecter'|trans}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
