{% extends 'base.html.twig' %}

{% block title %}
	{{artisan.firstname}}
	{{artisan.lastname}}
{% endblock %}
{% block links %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
{% endblock %}

{% block body %}

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div
						class="card p-4 mb-3 bg-white pers-infos">
						{# <h3 class="h5 text-black mb-3 d-flex justify-content-center">Informations personnelles</h3> #}
						<div class="d-flex justify-content-center">
							{% if artisan.photo is not null or artisan.photo is not empty %}
								<div class="user-img mb-4 mt-1" style="background-image: url({{asset('uploads/profile_photos/')}}{{artisan.photo}});">
								{% else %}
									{% if artisan.sexe == 0 %}
										<div class="user-img mb-4 mt-1" style="background-image: url({{asset('uploads/profile_photos/man.png')}});">
										{% else %}
											<div class="user-img mb-4 mt-1" style="background-image: url({{asset('uploads/profile_photos/woman.png')}});">
											{% endif %}
										{% endif %}
										{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == artisan.id %}
											<span class="quote d-flex align-items-center justify-content-center" id="amodal">
												<a href="#" data-toggle="modal" data-target="#bannerformmodal">
													<i class="icon-camera"></i>
												</a>
											</span>
										{% endif %}
									</div>
								</div>
								<p class="mb-0 d-flex justify-content-center">
									<strong>{{artisan.firstname}}
										{{artisan.lastname}}</strong>
								</p>
								<p class="mb-4 d-flex justify-content-center">
									{% for cat in artisan.categories %}
										<span class="position">{{cat.label|trans}}</span>
									{% endfor %}
								</p>

								<p class="mb-0 font-weight-bold">
									<i class="icon-map-marker"></i>
									{{'Localisation'|trans}}</p>
								<p class="mb-4">{{artisan.quartier}},
									{{artisan.city.label|trans}}</p>

								<p class="mb-0 font-weight-bold">
									<i class="icon-phone"></i>
									{{'Téléphone'|trans}}</p>
								<p class="mb-4">
									<a href="#">(+212)
										{{artisan.phoneNumber}}</a>
								</p>

								<p class="mb-0 font-weight-bold">
									<i class="icon-envelope"></i>
									{{'Adresse e-mail'|trans}}</p>
								<p class="mb-0">
									<a href="#">
										<span class="__cf_email__" data-cfemail="671e081215020a060e0b2703080a060e094904080a">{{artisan.email}}</span>
									</a>
								</p>

							</div>

							<div class="p-4 mb-3">
								<a href="">
									<img class="w-100 rounded" src="https://lh6.googleusercontent.com/proxy/vEyR_3xzk84rrST3V-4ug6W9hivtKmYj98RzlJsn-bxG4peo7LGRNSU1ZIQnxcp_S5k=s0-d">
								</img>
							</a>
						</div>
					</div>

					<div class="col-md-12 col-lg-8">
						<div class="card p-5 bg-white">
							<h3 class="mb-2 d-flex align-items-center justify-content-center">{{'Informations personnelles'|trans}}</h3>
							<hr class="mb-5">

							<div class="row mb-5">
								<div class="col-sm">
									<div>
										<strong>
											<i class="icon-venus-mars"></i>
											{{'Sexe'|trans}}</strong>
										<p>
											{% if artisan.sexe == 0 %}{{'Homme'|trans}}{% else %}{{'Femme'|trans}}
											{% endif %}
										</p>
									</div>
								</div>
								<div class="col-sm">
									<div>
										<strong>
											<i class="icon-dollar"></i>
											{{'Coût horaire (Dhs)'|trans}}</strong>
										<p>{{artisan.hourlyCost}}</p>
									</div>
								</div>
							</div>

							<div>
								<strong>
									<i class="icon-pencil-square-o"></i>
									{{"Description de l'activité"|trans}}</strong>
								<p>{{artisan.description}}</p>
							</div>

							{% if form is defined and is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == artisan.id %}
								<div class="d-flex justify-content-center mt-5">
									<a href="{{path('update_profile')}}" class="btn btn-primary  py-2 px-4">{{'Mettre à jour le profil'|trans}}</a>
								</div>
							{% endif %}
						</div>

						<div class="card mt-3">
							<div class="p-5 bg-white rounded">
								<h3 class="mb-2 d-flex align-items-center justify-content-center">{{'Galerie des photos'|trans}}</h3>
								<hr class="mb-5"></hr>
							<div id="carouselExampleIndicators" class="carousel slide rounded" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
									{% if artisan.workphoto2 is not null %}
										<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
									{% endif %}
									{% if artisan.workphoto3 is not null %}
										<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
									{% endif %}
									{% if artisan.workphoto4 is not null %}
										<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
									{% endif %}
								</ol>
								<div class="carousel-inner">
									{% if artisan.workphoto1 is not null %}
										<div class="carousel-item active w-100 h-100">
											<img style="display: block;height: 400px;" class="img-responsive d-block w-100" src="{{asset('uploads/work_photos/')}}{{artisan.workphoto1}}" alt="First slide">
										</div>
									{% else %}
										<div class="carousel-item w-100 h-100 d-flex align-items-center justify-content-center" style="display: block;">
											<img style="display: block;height: 400px;" class="img-responsive d-block" src="{{asset('images/GALLERY-512.png')}}" alt="First slide">
										</div>
									{% endif %}
									{% if artisan.workphoto2 is not null %}
										<div class="carousel-item w-100 h-100">
											<img style="display: block;height: 400px;" class="img-responsive d-block w-100" src="{{asset('uploads/work_photos/')}}{{artisan.workphoto2}}" alt="Second slide">
										</div>
									{% endif %}
									{% if artisan.workphoto3 is not null %}
										<div class="carousel-item w-100 h-100">
											<img style="display: block;height: 400px;" class="img-responsive d-block w-100" src="{{asset('uploads/work_photos/')}}{{artisan.workphoto3}}" alt="Third slide">
										</div>
									{% endif %}
									{% if artisan.workphoto4 is not null %}
										<div class="carousel-item w-100 h-100">
											<img style="display: block;height: 400px;" class="img-responsive d-block w-100" src="{{asset('uploads/work_photos/')}}{{artisan.workphoto4}}" alt="Fourth slide">
										</div>
									{% endif %}
								</div>
								<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					</div>


					<div class="container mt-3">
						<h3 class="text-center">{{'Avis des clients'|trans}}</h3>

						<div class="card" id="cards">
							{% for comment in artisan.comments %}
								{% if comment.replyTo is null%}
									<div class="card-body">
										<div class="row">
											<div class="col-md-2">
												<img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
											</div>
											<div class="col-md-10">
												<p class="mb-0">
													<a href="#">
														<strong>{{comment.commentator}}</strong>
													</a>
													<span class="float-right mr-3 mt-1">
														<span class="number">{{comment.likes}}</span>
														<a href="">
															<i class="icon-thumbs-o-up"></i>
														</a>
													</span>
													<span class="float-right ml-3 mr-3 mt-1">
														<span class="number">{{comment.dislikes}}</span>
														<i class="icon-thumbs-o-down"></i>
													</span>
												</p>
												<p class="text-secondary mb-2">
													<span class="seen">
														<small>{{comment.createdOn |date("d/m/Y à H:m")}}</small>
													</span>
												</p>
												<p class="mb-0">{{comment.text}}</p>
											</div>
										</div>
									</div>
									{% for subcomment in comment.comments %}
										<div class="card card-inner mt-0 mr-3 ml-4 mb-2">
											<div class="card-body">
												<div class="row">
													<div class="col-md-2">
														<img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
													</div>
													<div class="col-md-10">
														<p class="mb-0">
															<a href="#">
																<strong>{{subcomment.commentator}}</strong>
															</a>
															<span class="float-right mr-3 mt-0">
																<span class="number">{{subcomment.likes}}</span>
																<a href="">
																	<i class="icon-thumbs-o-up"></i>
																</a>
															</span>
															<span class="float-right ml-3 mr-3 mt-0">
																<span class="number">{{subcomment.dislikes}}</span>
																<i class="icon-thumbs-o-down"></i>
															</span>
														</p>
														<p class="text-secondary mb-0">
															<span class="seen">
																<small>{{subcomment.createdOn |date("d/m/Y à H:m")}}</small>
															</span>
														</p>
														<p class="mb-0">{{subcomment.text}}</p>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
									{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == artisan.id %}
										<div class="mt-2 mr-3 ml-4">
											<form method="post" action="{{path('submit_subcomment')}}">
												<p>
													<textarea class="form-control" name="subcomment" placeholder="Commentez en retour ..."></textarea>
												</p>
												<p>
													<input type="hidden" name="idcomment" value="{{comment.id}}"/>
													<input id="artisanId" name="idartisan" type="hidden" value="{{artisan.id}}">
													<button type="submit" class="float-right btn btn-outline-primary ml-2 mb-2">
														<i class="icon-reply"></i>
														Répondre</button>
												</p>
											</form>
										</div>
									{% endif %}
								{% endif %}
							{% endfor %}

							{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
								<form method="post" action="{{path('submit_comment')}}">
									<div class="card-body">
										<h5 class="h5 text-black">Donnez votre avis</h5>
										<div class="card card-inner mt-1">
											<div class="card-body">
												<div class="row">
													<div class="col-md-2">
														<img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
													</div>
													<div class="col-md-10">
														<p>
															<input id="commentator" required type="text" class="form-control" name="name" placeholder="Nom Complet"/>
														</p>
														<input id="artisanId" name="id" type="hidden" value="{{artisan.id}}">
														<p>
															<textarea id="comment" required class="form-control" name="comment" placeholder="Commentaire ..."></textarea>
														</p>
														<p>
															<button type="submit" class="float-right btn btn-outline-primary ml-2" id="commentbutton">
																<i class="icon-reply"></i>
																Commenter
															</button>
														</p>
														<!-- Modal -->
														<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
															<div class="modal-dialog" role="document">
																<div class="modal-content">
																	<div class="modal-body">
																		<h5 class="modal-title" id="exampleModalLabel">
																			<i class="icon-check mr-3"></i>
																			Votre commentaire a été enregistré.</h5>
																		<button type="button" class="btn btn-primary float-right" data-dismiss="modal">Fermer</button>
																	</div>
																</div>
															</div>
														</div>
														<div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true" id="bannerformmodal">
															<div class="modal-dialog" role="document">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title">Modal title</h5>
																		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																			<span aria-hidden="true">&times;</span>
																		</button>
																	</div>
																	<div class="modal-body">
																		<p>Modal body text goes here.</p>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-primary">Save changes</button>
																		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block javascript %}
	{{ parent() }}
	{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == artisan.id %}
		<script>
			// var p = document.getElementById("amodal");
// p.onclick = function() { $("#exampleModal").modal();};
$(document).on('submit', 'form', function (e) { // il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même
e.preventDefault();
$form = $(e.target);
debugger;
$.ajax({type: $(this).attr('method'), url: $(this).attr('action'), data: $(this).serialize()}).done(function (data) {
if (typeof data.commentator !== 'undefined') { // alert(data.message);
document.location.reload(true);
}
}).fail(function (jqXHR, textStatus, errorThrown) {
if (typeof jqXHR.responseJSON !== 'undefined') {
if (jqXHR.responseJSON.hasOwnProperty('form')) { // $('#form_body').html(jqXHR.responseJSON.form);
}
// $('.form_error').html(jqXHR.responseJSON.message);

} else {
alert(errorThrown);
}

});

});
		</script>
	{% else %}
		<script>
			// var p = document.getElementById("amodal");
// p.onclick = function() { $("#exampleModal").modal();};
$(document).on('submit', 'form', function (e) { // il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même
e.preventDefault();
$form = $(e.target);
debugger;
var comment = document.getElementById('comment').value;
var commentator = document.getElementById('commentator').value;

if (comment == '' || commentator == '') {
return;
}

$.ajax({type: $(this).attr('method'), url: $(this).attr('action'), data: $(this).serialize()}).done(function (data) {
if (typeof data.commentator !== 'undefined') { // alert(data.message);
document.getElementById('comment').value = '';
document.getElementById('commentator').value = '';
$("#exampleModal").modal();
// document.getElementById("myDialog").showModal();
// alert(data.text);
var html = "<div class='card-body'>" + "<div class='row'>" + "<div class='col-md-2'>" + "<img src='https://image.ibb.co/jw55Ex/def_face.jpg' class='img img-rounded img-fluid'/>" + "</div>" + "<div class='col-md-10'>" + "<p class='mb-0'>" + "<a href='https://maniruzzaman-akash.blogspot.com/p/contact.html'>" + "<strong>" + data.commentator + "</strong>" + "</a>" + "<span class='float-right mr-3 mt-1'>" + "<span class='number'>" + data.likes + " </span>" + "<a href=''>" + "<i class='icon-thumbs-o-up'></i>" + "</a>" + "</span>" + "<span class='float-right ml-3 mr-3 mt-1'>" + "<span class='number'>" + data.dislikes + " </span>" + "<i class='icon-thumbs-o-down'></i>" + "</span>" + "</p>" + "<p class='text-secondary mb-2'>" + "<span class='seen'>" + "<small>à l'instant</small>" + "</span>" + "</p>" + "<p class='mb-0'>" + data.text + "</p>";
$("#cards").prepend(html);
}
}).fail(function (jqXHR, textStatus, errorThrown) {
if (typeof jqXHR.responseJSON !== 'undefined') {
if (jqXHR.responseJSON.hasOwnProperty('form')) { // $('#form_body').html(jqXHR.responseJSON.form);
}
// $('.form_error').html(jqXHR.responseJSON.message);

} else {
alert(errorThrown);
}

});

});
		</script>
	{% endif %}
{% endblock %}
