{% extends 'base.html.twig' %}

{% block title %}{{'Mettre à jour votre profil'|trans}}
{% endblock %}

{% block links %}
	<style class="cp-pen-styles">
		@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
		@import url("https://fonts.googleapis.com/css?family=Raleway");

		.box {
			display: block;
			min-width: 300px;
			height: 300px;
			margin: 10px;
			background-color: white;
			border-radius: 5px;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
			-webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
			transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
			overflow: hidden;
		}

		.upload-options {
			position: relative;
			height: 75px;
			background-color: #212529;
			cursor: pointer;
			overflow: hidden;
			text-align: center;
			-webkit-transition: background-color ease-in-out 150ms;
			transition: background-color ease-in-out 150ms;
		}

		.upload-options:hover {
			background-color: #7fb1b3;
		}

		.upload-options input {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		.upload-options label {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			width: 100%;
			height: 100%;
			font-weight: 400;
			text-overflow: ellipsis;
			white-space: nowrap;
			cursor: pointer;
			overflow: hidden;
		}

		.upload-options label::after {
			content: 'add';
			font-family: 'Material Icons';
			position: absolute;
			font-size: 2.5rem;
			color: #e6e6e6;
			top: calc(50% - 2.5rem);
			left: calc(50% - 1.25rem);
			z-index: 0;
		}

		.upload-options label span {
			display: inline-block;
			width: 50%;
			height: 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			vertical-align: middle;
			text-align: center;
		}

		.upload-options label span:hover i.material-icons {
			color: lightgray;
		}

		.js--image-preview {
			height: 225px;
			width: 100%;
			position: relative;
			overflow: hidden;
			background-image: url("");
			background-color: white;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.js--image-preview::after {
			content: "photo_size_select_actual";
			font-family: 'Material Icons';
			position: relative;
			font-size: 4.5em;
			color: #e6e6e6;
			top: calc(50% - 3rem);
			left: calc(50% - 2.25rem);
			z-index: 0;
		}

		.js--image-preview.js--no-default::after {
			display: none;
		}

		i.material-icons {
			-webkit-transition: color 100ms ease-in-out;
			transition: color 100ms ease-in-out;
			font-size: 2.25em;
			line-height: 55px;
			color: white;
			display: block;
		}

		.drop {
			display: block;
			position: absolute;
			background: rgba(95, 158, 160, 0.2);
			border-radius: 100%;
			-webkit-transform: scale(0);
			transform: scale(0);
		}

		.animate {
			-webkit-animation: ripple 0.4s linear;
			animation: ripple 0.4s linear;
		}

		@-webkit-keyframes ripple {
			100% {
				opacity: 0;
				-webkit-transform: scale(2.5);
				transform: scale(2.5);
			}
		}

		@keyframes ripple {
			100% {
				opacity: 0;
				-webkit-transform: scale(2.5);
				transform: scale(2.5);
			}
		}
	</style>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/css/bootstrap-select.css"/>
{% endblock %}

{% block body %}
	<div class="ftco-section bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-8 mb-5">
					{{ form_start(form, {'attr': {'class': 'card p-5 bg-white', 'action':path('update_profile')}},{'multipart': true}) }}
					<h4 class="mb-5">{{'Vos informations personnelles'|trans}}</h4>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<label class="mr-3">
								{{'Prénom'|trans}}
							</label>
							{{form_widget(form.firstName)}}
							{{form_errors(form.firstName) }}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<label class="mr-3">
								{{'Nom'|trans}}
							</label>
							{{form_widget(form.lastName)}}
							{{form_errors(form.lastName) }}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<label class="mr-3">
								{{'Sexe'|trans}}
							</label>
							{{form_widget(form.sexe)}}
							{{form_errors(form.sexe) }}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<label class="mr-3">
								{{'Etes-vous une entreprise ?'|trans}}</label>
							{{form_widget(form.isEntreprise)}}
							{{form_errors(form.isEntreprise) }}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<label class="mr-3">
								{{'Adresse postale'|trans}}
							</label>
							{{form_widget(form.address)}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<label class="mr-3">
								{{'Ville'|trans}}
							</label>
							{{form_widget(form.city)}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<label class="mr-3">
								{{'Quartier'|trans}}
							</label>
							{{form_widget(form.quartier)}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<label class="mr-3">
								{{'Catégories*'|trans}}
							</label>
							{{form_widget(form.categories)}}
							{{form_row(form._token) }}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<label class="mr-3">
								{{'Coût horaire'|trans}}
							</label>
							{{form_widget(form.hourlyCost)}}
							{{form_errors(form.hourlyCost) }}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<label class="mr-3">
								{{'Téléphone'|trans}}
							</label>
							{{form_widget(form.phoneNumber)}}
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<label class="mr-3">
								{{"Description de l'activité"|trans}}
							</label>
							{{form_widget(form.description)}}
							{{form_errors(form.description) }}
						</div>
					</div>
					<div class="rounded mb-3">
						<strong class="ml-2">{{'Galerie de photos'|trans}}</strong>
						<div class="row">
							<div class="col">
								<div class="box">
									{% if img1 is empty %}
										<div class="js--image-preview"></div>
									{% else %}
										<div class="js--image-preview js--no-default" style="background-image: url(data:image/jpeg;base64,{{img1}});}"></div>
									{% endif %}
									<div class="upload-options">
										<label>
											<input id="artisan_update_photoFile1" name="artisan_update[photoFile1]" type="file" class="image-upload" accept="image/*"/>
										</label>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="box">
									{% if img2 is empty %}
										<div class="js--image-preview"></div>
									{% else %}
										<div class="js--image-preview js--no-default" style="background-image: url(data:image/jpeg;base64,{{img2}});}"></div>
									{% endif %}
									<div class="upload-options">
										<label>
											<input id="artisan_update_photoFile2" name="artisan_update[photoFile2]" type="file" class="image-upload" accept="image/*"/>
										</label>
									</div>
								</div>
							</div>
							<div class="w-100"></div>
							<div class="col">
								<div class="box">
									{% if img3 is empty %}
										<div class="js--image-preview"></div>
									{% else %}
										<div class="js--image-preview js--no-default" style="background-image: url(data:image/jpeg;base64,{{img3}});}"></div>
									{% endif %}
									<div class="upload-options">
										<label>
											<input id="artisan_update_photoFile3" name="artisan_update[photoFile3]" type="file" class="image-upload" accept="image/*"/>
										</label>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="box">
									{% if img4 is empty %}
										<div class="js--image-preview"></div>
									{% else %}
										<div class="js--image-preview js--no-default" style="background-image: url(data:image/jpeg;base64,{{img4}});}"></div>
									{% endif %}
									<div class="upload-options">
										<label>
											<input id="artisan_update_photoFile4" name="artisan_update[photoFile4]" type="file" class="image-upload" accept="image/*"/>
										</label>
									</div>
								</div>
							</div>
						</div>

						{# <div class="row form-group mt-3 ml-5">
																			<div class="col-md-12 mb-3 mb-md-0">
																				<lable class="mr-4">Photo N°1</label>
																				{{form_widget(form.photoFile1)}}
																			</div>
																		</div>
																		<div class="row form-group ml-5">
																			<div class="col-md-12 mb-3 mb-md-0">
																				<lable class="mr-4">Photo N°2</label>
																				{{form_widget(form.photoFile2)}}
																			</div>
																		</div>
																		<div class="row form-group ml-5">
																			<div class="col-md-12 mb-3 mb-md-0">
																				<lable class="mr-4">Photo N°3</label>
																				{{form_widget(form.photoFile3)}}
																			</div>
																		</div>
																		<div class="row form-group ml-5">
																			<div class="col-md-12 mb-md-0">
																				<lable class="mr-4">Photo N°4</label>
																				{{form_widget(form.photoFile4)}}
																			</div>
																		</div> #}
					</div>

					<div class="d-flex justify-content-center mb-3">
						{{form_widget(form.submit)}}
					</div>
				</form>
			</div>

			<div class="col-lg-4">
					<div class="card p-4 mb-3 bg-white card">

						<h3 class="h5 text-black mb-3">{% trans  %}Nos coordonnées{% endtrans %}</h3>

						<p class="mb-0 font-weight-bold">{% trans  %}Adresse postale{% endtrans %}</p>
						<p class="mb-4">Boulevard d'Amgala Casablanca, Maroc</p>
						<p class="mb-0 font-weight-bold">{% trans  %}Téléphone{% endtrans %}</p>

						<p class="mb-4">
							<a href="#">0677922859</a>
						</p>

						<p class="mb-0 font-weight-bold">{% trans  %}Adresse e-mail{% endtrans %}</p>
						<p class="mb-0">
							<a href="#">
								<span class="__cf_email__" data-cfemail="671e081215020a060e0b2703080a060e094904080a">lebonartisan.co@gmail.com</span>
							</a>
						</p>

					</div>

				<div class="p-4 mb-3 bg-white card">
					<a href="">
						<img class="w-100 rounded" src="https://lh6.googleusercontent.com/proxy/vEyR_3xzk84rrST3V-4ug6W9hivtKmYj98RzlJsn-bxG4peo7LGRNSU1ZIQnxcp_S5k=s0-d">
					</img>
				</a>
			</div>
		</div>
	</div>
</div></div>
{% endblock %}
{% block javascript %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/js/bootstrap-select.min.js"></script><script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script>

function initImageUpload(box) {
let uploadField = box.querySelector('.image-upload');

uploadField.addEventListener('change', getFile);

function getFile(e) {
let file = e.currentTarget.files[0];
checkType(file);
}

function previewImage(file) {
let thumb = box.querySelector('.js--image-preview'),
reader = new FileReader();

reader.onload = function () {
thumb.style.backgroundImage = 'url(' + reader.result + ')';
}
reader.readAsDataURL(file);
thumb.className += ' js--no-default';
}

function checkType(file) {
let imageType = /image.*/;
if (! file.type.match(imageType)) {
throw 'Datei ist kein Bild';
} else if (! file) {
throw 'Kein Bild gewählt';
} else {
previewImage(file);
}
}

}

// initialize box-scope
var boxes = document.querySelectorAll('.box');

for (let i = 0; i < boxes.length; i++) {
if (window.CP.shouldStopExecution(1)) {
break;
}
let box = boxes[i];
initDropEffect(box);
initImageUpload(box);
}
window.CP.exitedLoop(1);


// / drop-effect
function initDropEffect(box) {
let area,
drop,
areaWidth,
areaHeight,
maxDistance,
dropWidth,
dropHeight,
x,
y;

// get clickable area for drop effect
area = box.querySelector('.js--image-preview');
area.addEventListener('click', fireRipple);

function fireRipple(e) {
area = e.currentTarget
// create drop
if (! drop) {
drop = document.createElement('span');
drop.className = 'drop';
this.appendChild(drop);
}
// reset animate class
drop.className = 'drop';

// calculate dimensions of area (longest side)
areaWidth = getComputedStyle(this, null).getPropertyValue("width");
areaHeight = getComputedStyle(this, null).getPropertyValue("height");
maxDistance = Math.max(parseInt(areaWidth, 10), parseInt(areaHeight, 10));

// set drop dimensions to fill area
drop.style.width = maxDistance + 'px';
drop.style.height = maxDistance + 'px';

// calculate dimensions of drop
dropWidth = getComputedStyle(this, null).getPropertyValue("width");
dropHeight = getComputedStyle(this, null).getPropertyValue("height");

// calculate relative coordinates of click
// logic: click coordinates relative to page - parent's position relative to page - half of self height/width to make it controllable from the center
x = e.pageX - this.offsetLeft -(parseInt(dropWidth, 10) / 2);
y = e.pageY - this.offsetTop -(parseInt(dropHeight, 10) / 2) - 30;

// position drop and animate
drop.style.top = y + 'px';
drop.style.left = x + 'px';
drop.className += ' animate';
e.stopPropagation();

}
}</script>
{% endblock %}
