{% extends 'base.html.twig' %}

{% block title %}
	{{'Votre demande a été prise en compte !'|trans}}
{% endblock %}

{% block body %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="intro row text-center justify-content-center">
						<div class="col-md-9">
							<h6 class="text-black">{{'Votre demande a été prise en compte !'|trans}}
                            <br><br>
                            {{'Vous pouvez désormais réinitialiser votre mot de passe à partir du lien que vous allez recevoir par courriel.'|trans}}</h6>
							<br>
							<a class="btn btn-primary" href="https://lebonartisan.ma" role="button">Retour</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
