{% extends 'base.html.twig' %}

{% block title %}
	{{'Votre compte a bien été créé !'|trans}}
{% endblock %}

{% block body %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="intro row text-center justify-content-center">
						<div class="col-md-9">
							<h6 class="text-black">{{'Votre compte a bien été créé !'|trans}}
                            <br><br>
                            {{'Vous recevrez un message de confirmation par courriel confirmant votre inscription.'|trans}}</h6>
							<br>
							<a class="btn btn-primary" href="https://lebonartisan.ma" role="button">{{'Retour'|trans}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
