{% extends 'base.html.twig' %}

{% block title %}
	{{'Aide avec le mot de passe ?'|trans}} - Lebonartisan.ma
{% endblock %}

{% block body %}
	<section class="ftco-section">
                <div class="parallax-img d-flex align-items-center">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-7 text-center heading-section heading-section-black ftco-animate">
                                <h2>{{'Aide avec le mot de passe ?'|trans}}</h2>
                                <p>{{"Saisissez l'adresse électronique associée avec votre compte et vous allez recevoir un lien de récupération d'ici quelques instants."|trans}}</p>
                                <div class="row d-flex justify-content-center mt-4 mb-4">
                                    <div class="col-md-12">
                                        <form method="get" action={{path('new_password')}} class="subscribe-form category card">
                                            <div class="form-group d-flex">
                                                <input type="text" name="email" class="form-control" placeholder="{{'Adresse e-mail'|trans}}">
                                                <input type="submit" value="{{'Envoyer'|trans}}" class="submit px-3">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>
{% endblock %}
