{% extends 'base.html.twig' %}

{% block title %}
	{{'Réinitialisation du mot de passe'|trans}} - Lebonartisan.ma
{% endblock %}

{% block body %}
	<section class="ftco-section">
		<div class="">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="text-center heading-section heading-section-black ftco-animate">
						<h2>{{'Réinitialisation du mot de passe'|trans}}</h2>
						<div class="row d-flex justify-content-center mt-4 mb-4">
							{{ form_start(form, {'attr': {'class': 'w-100 card p-5 bg-white', 'action':path('reset_pswd'), 'method':'post'}}) }}

							<div class="row form-group">
								<div class="col-md-12 mb-3 mb-md-0">
									{{form_widget(form.password)}}
									{{form_errors(form.password) }}
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12 mb-3 mb-md-0">
									{{form_widget(form.confirmPassword)}}
									{{form_errors(form.confirmPassword) }}
								</div>
							</div>
                            <input type="hidden" value="{{artisan.id}}" name="id"/>
							<div class="d-flex justify-content-center mb-3 w-100">
								{{form_widget(form.submit)}}
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
