<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Le Bon Artisan - {{'Trouvez pour vos travaux le bon artisan proche de chez vous'|trans}}
			{% endblock %}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
		<link rel="stylesheet" href="css/animate.css">
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owl.theme.default.min.css">
		<link rel="stylesheet" href="css/magnific-popup.css">
		<link rel="stylesheet" href="css/aos.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/bootstrap-datepicker.css">
		<link rel="stylesheet" href="css/jquery.timepicker.css">
		<link rel="stylesheet" href="css/flaticon.css">
		<link rel="stylesheet" href="css/icomoon.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css">
		<link
		rel="stylesheet" href="css/style.css">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-32490503-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-32490503-1');
		</script>

	</head>
	<body>
		{% if not localeCookie %}
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Choisissez votre langue</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body d-flex justify-content-center mb-3 mt-2">
						<a href="/" class="mr-4"><img src="images/france-flag-icon-64.png" alt="" class="logo mr-3"></img>Français</a>
						<a href="{{ path('arab') }}" class="ml-4"><img src="images/morocco-flag-icon-64.png" alt="" class="logo mr-3"></img>العربية</a>
					</div>
					{# <div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">{{'OK'|trans}}</button>
					</div> #}
					</div>
				</div>
			</div>
		{% endif %}
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light scrolled awake" id="ftco-navbar">
			<div class="container">
				<a class="navbar-brand" href="/"><img src="images/logo3.png" alt="" class="logo"></img>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span>
				{% trans  %}Menu{% endtrans %}
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					{# <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li> #}
					{# <li class="nav-item"><a href="{{path('search_artisans')}}" class="nav-link">Artisans</a></li> #}
						<li class="nav-item"> <a href="{{ path('maintenance') }}" class="nav-link">{% trans %}Aide & Conseils{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('maintenance') }}" class="nav-link">{% trans  %}Blog{% endtrans %}</a>
					</li>
					<li class="nav-item mr-2">
						<a href="{{path('contact_us')}}" class="nav-link">{% trans  %}Contact{% endtrans %}</a>
					</li>
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						{# <li class="nav-item cta mr-3"><a href="{{path('artisan_auth')}}" class="nav-link">Espace Artisan</a></li> #}
						<li class="dropdown nav-item mr-3">
							<a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{% trans  %}Bonjour{% endtrans %}
								<strong>{{ app.user.firstname }}</strong>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a href="{{ path('posts') }}" class="dropdown-item">
									<i class="icon-briefcase mr-2"></i>{% trans  %}Annonces à proximité{% endtrans %}</a>
								<a href="{{path('view_profile',{'id':app.user.id})}}" class="dropdown-item">
									<i class="icon-user mr-2"></i>{% trans  %}Voir votre profil{% endtrans %}</a>
								<a href="{{path('artisan_auth')}}" class="dropdown-item">
									<i class="icon-cog mr-2"></i>{% trans  %}Préférences et confidentialité{% endtrans %}</a>
								<a href="{{ path('logout') }}" class="dropdown-item">
									<i class="icon-sign-out mr-2"></i>{% trans  %}Déconnexion{% endtrans %}</a>
							</div>
						</li>
					{% else %}
						<li class="nav-item cta mr-1 ml-1">
							<a href="{{path('artisan_auth')}}" class="nav-link">{% trans %}Espace Artisans{% endtrans %}</a>
						</li>
						<li class="nav-item cta cta-colored mr-1 ml-1">
							<a href="{{path('security_registration')}}" class="nav-link">{% trans %}S'inscrire{% endtrans %}</a>
						</li>
					{% endif %}

					{% if language == 'fr_FR' %}
						<li class="dropdown nav-item ml -5 mr-3">
							<a href="{{ path('french') }}" class="nav-link dropdown-toggle flag-wrapper" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="flag-icon flag-icon-fr mr-2"></span>
								{% trans %}Français{% endtrans %}
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownLanguage">
								<a href="{{ path('arab') }}" class="dropdown-item">
									<span class="flag-icon flag-icon-ma mr-2"></span>
									{% trans %}Arabe{% endtrans %}</a>
							</div>
						</li>
					{% elseif language == 'ar_AR' %}
						<li class="dropdown nav-item ml -5 mr-3">
							<a href="{{ path('arab') }}" class="nav-link dropdown-toggle flag-wrapper" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="flag-icon flag-icon-ma mr-2"></span>
								{% trans %}Arabe{% endtrans %}
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownLanguage">
								<a href="{{ path('french') }}" class="dropdown-item">
									<span class="flag-icon flag-icon-fr mr-2"></span>
									{% trans %}Français{% endtrans %}</a>
							</div>
						</li>
						{% else %}

					{% endif %}

				</ul>
			</div>
		</div>
	</body>
</html></nav>
<section>
<div class="hero-wrap js-fullheight w-100" style="background-image: url('images/build-builder-builders-80921.jpg');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container-fluid px-0">
		<div class="row d-md-flex no-gutters slider-text align-items-end js-fullheight justify-content-end">
			<div class="mt-2 one-forth d-flex align-items-center ftco-animate js-fullheight">
				<div class="notice mx-auto px-auto md-5 mt-5 w-100 shadow-lg" style="background-color: rgba(255, 255, 255, 0.7);">

					<h3 class="mb-2 ml-1 mt-1 mr-1">
						<strong>{% trans %}Besoin d'un artisan près de chez vous ?{% endtrans %}</strong>
					</h3>
					<p class="ml-2 mr-2">{% trans  %}Grâce au bon artisan vous n'avez plus à vous soucier de trouver une entreprise ou un artisan local.{% endtrans %}<br></p>

					<div class="ftco-search">
						<div class="row">
							<div class="col-md-12 nav-link-wrap mt-2">
								<div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical"></div>
							</div>
							<div class="col-md-12 tab-wrap mt-2">

								<div class="tab-content p-3 mr-1 ml-1 mb-1" id="v-pills-tabContent">
									<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
										{{render(controller(
											'App\\Controller\\ViewArtisansController:searchArtisansAction'
										))}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></section>
    <section class="ftco-section img" style="background-color:#D8A62F;background-position: top center;">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="browse-job p-5" style="background-color:#DAD7CD;">
    					{# <span class="icon-person icon"></span> #}
    					<span class="subheading mb-4">{{'Vous êtes un artisan ou une entreprise ?'|trans|raw}}</span>
    					<p class="mt-4">{% trans %}Rejoignez une communauté de{% endtrans %} <span class="number" data-number="{{userCount}}">0</span> 
						{% trans %}professionnels.{% endtrans %}</p>
						<div class="d-flex justify-content-end mb-0">
							<button class="btn btn-primary mb-0">
								<a href="{{path('security_registration')}}" class="nav-link text-white">{% trans %}S'inscrire{% endtrans %}</a>
							</button>
						</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <section class="ftco-section ftco-candidates bg-primary">
<div class="container">
	<div class="row justify-content-center pb-3">
		<div
			class="col-md-10 heading-section heading-section-white text-center ftco-animate">
			{# <span class="subheading">Artisans</span> #}
			<h2 class="mb-4">{% trans %}Nouveaux Artisans{% endtrans %}</h2>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 ftco-animate">
			<div class="carousel-candidates owl-carousel">
				{% for art in latest %}
					<div class="item mb-5">
						<a href="{{path('view_profile',{'id':art.id})}}" class="team text-center">
							{% if art.photo is not null or art.photo is not empty %}
								<div class="img" style="background-image: url({{asset('uploads/profile_photos/')}}{{art.photo}});"></div>
							{% else %}
								{% if art.sexe == 0 %}
									<div class="img" style="background-image: url({{asset('uploads/profile_photos/man.png')}});"></div>
								{% else %}
									<div class="img" style="background-image: url({{asset('uploads/profile_photos/woman.png')}});"></div>
								{% endif %}
							{% endif %}
							<h2>{{art.firstname}}
								{{art.lastname}}
							</h2>
							<span class="city mt-2">
								<i class="icon-my_location mr-1" style="color:snow"></i>
								{{ art.city.label|trans|raw }}</span><br>
							{% for cat in art.categories %}
								<span class="position">{{ cat.label|trans|raw }}</span>
							{% endfor %}
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div></section>
<section class="ftco-section img" style="background-image: url(images/artisan-business-carpenter-carpentry-313776.jpg); background-position: top center;">
<div class="container">
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6">
			<div class="browse-job p-5">
				<h2>
					<span class="icon-quote-left"></span> {% trans %}L'idée{% endtrans %}</h2>
					{{ 'idea.text'|trans|raw }}
			</div>
		</div>
	</div>
</div></section>
<section class="ftco-section services-section bg-primary">
<div class="container">
	<div class="row d-flex">
		<div class="col-md-3 d-flex align-self-stretch ftco-animate">
			<div class="media block-6 services d-block">
				<div class="icon">
					<span class="flaticon-promotions"></span>
				</div>
				<div class="media-body">
					<h3 class="heading mb-3">{% trans %}DES AVIS 100% FIABLES{% endtrans %}</h3>
					<p>{% trans %}Nous avons plusieurs entreprises et artisans à travers le Maroc qui ont été évalués par leurs clients.{% endtrans %}</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-self-stretch ftco-animate">
			<div class="media block-6 services d-block">
				<div class="icon">
					<span class="flaticon-employee"></span>
				</div>
				<div class="media-body">
					<h3 class="heading mb-3">{% trans %}UNE ÉQUIPE IMPLIQUÉE{% endtrans %}</h3>
					<p>{% trans %}Soyez serein, notre équipe est à votre écoute pour vous conseiller et vous accompagner !{% endtrans %}</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-self-stretch ftco-animate">
			<div class="media block-6 services d-block">
				<div class="icon">
					<span class="flaticon-collaboration"></span>
				</div>
				<div class="media-body">
					<h3 class="heading mb-3">{% trans %}SIMPLICITÉ{% endtrans %}</h3>
					<p>{% trans %}Mise en relation simple rapide et sécurisée{% endtrans %}</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-self-stretch ftco-animate">
			<div class="media block-6 services d-block">
				<div class="icon">
					<span class="flaticon-resume"></span>
				</div>
				<div class="media-body">
					<h3 class="heading mb-3">{% trans %}DE VRAIS PROS{% endtrans %}</h3>
					<p>{% trans %}Toutes les informations sont vérifiées par l'équipe (Siret, téléphone, mail, qualification){% endtrans %}</p>
				</div>
			</div>
		</div>
	</div>
</div></section>
<section class="ftco-section bg-light">
<div class="container">
	<div class="row justify-content-center mb-5 pb-3">
		<div class="col-md-7 heading-section text-center ftco-animate">
			<span class="subheading">{% trans %}Blog{% endtrans %}</span>
			<h2><span>{% trans %}Articles{% endtrans %}</span> {% trans %}récents{% endtrans %}</h2>
		</div>
	</div>
	<div class="row d-flex">
		<div class="col-md-3 d-flex ftco-animate">
			<div class="blog-entry align-self-stretch">
				<a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');"></a>
				<div class="text mt-3">
					<div class="meta mb-2">
						<div>
							<a href="#">May 3, 2019</a>
						</div>
						<div>
							<a href="#">Admin</a>
						</div>
						<div>
							<a href="#" class="meta-chat">
								<span class="icon-chat"></span>
								3</a>
						</div>
					</div>
					<h3 class="heading">
						<a href="#">{% trans %}Disponible prochainement ...{% endtrans %}</a>
					</h3>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex ftco-animate">
			<div class="blog-entry align-self-stretch">
				<a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');"></a>
				<div class="text mt-3">
					<div class="meta mb-2">
						<div>
							<a href="#">May 3, 2019</a>
						</div>
						<div>
							<a href="#">Admin</a>
						</div>
						<div>
							<a href="#" class="meta-chat">
								<span class="icon-chat"></span>
								3</a>
						</div>
					</div>
					<h3 class="heading">
						<a href="#">{% trans %}Disponible prochainement ...{% endtrans %}</a>
					</h3>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex ftco-animate">
			<div class="blog-entry align-self-stretch">
				<a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');"></a>
				<div class="text mt-3">
					<div class="meta mb-2">
						<div>
							<a href="#">May 3, 2019</a>
						</div>
						<div>
							<a href="#">Admin</a>
						</div>
						<div>
							<a href="#" class="meta-chat">
								<span class="icon-chat"></span>
								3</a>
						</div>
					</div>
					<h3 class="heading">
						<a href="#">{% trans %}Disponible prochainement ...{% endtrans %}</a>
					</h3>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex ftco-animate">
			<div class="blog-entry align-self-stretch">
				<a href="blog-single.html" class="block-20" style="background-image: url('images/image_4.jpg');"></a>
				<div class="text mt-3">
					<div class="meta mb-2">
						<div>
							<a href="#">May 3, 2019</a>
						</div>
						<div>
							<a href="#">Admin</a>
						</div>
						<div>
							<a href="#" class="meta-chat">
								<span class="icon-chat"></span>
								3</a>
						</div>
					</div>
					<h3 class="heading">
						<a href="#">{% trans %}Disponible prochainement ...{% endtrans %}</a>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div></section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">{% trans %}À propos{% endtrans %}</h2>
						{{ 'idea.text'|trans|raw }}
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
						<li class="ftco-animate">
							<a href="#">
								<span class="icon-twitter"></span>
							</a>
						</li>
						<li class="ftco-animate">
							<a href="#">
								<span class="icon-facebook"></span>
							</a>
						</li>
						<li class="ftco-animate">
							<a href="#">
								<span class="icon-instagram"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">{% trans %}Clients{% endtrans %}</h2>
					<ul class="list-unstyled">
						<li>
							<a href="{{ path('maintenance') }}" class="py-2 d-block">{% trans %}Blog{% endtrans %}</a>
						</li>
						<li>
							<a href="{{ path('maintenance') }}" class="py-2 d-block">{% trans %}Aide & Conseils{% endtrans %}</a>
						</li>
						<li>
							<a href="{{ path('post') }}" class="py-2 d-block">{% trans %}Déposer une annonce{% endtrans %}</a>
						</li>
						<li>
							<a href="{{ path('contact_us') }}" class="py-2 d-block">{% trans %}Contactez-nous{% endtrans %}</a>
						</li>
						<li>
							<a href="#" class="py-2 d-block">{% trans %}Faq{% endtrans %}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4 ml-md-4">
					<h2 class="ftco-heading-2">{% trans %}Artisans{% endtrans %}</h2>
					<ul class="list-unstyled">
						<li>
							<a href="{{path('security_registration')}}" class="py-2 d-block">{% trans %}S'inscrire{% endtrans %}</a>
						</li>
						<li>
							<a href="{{path('artisan_auth')}}" class="py-2 d-block">{% trans %}Espace Artisans{% endtrans %}</a>
						</li>
						<li>
							<a href="{{ path('contact_us') }}" class="py-2 d-block">{% trans %}Contactez-nous{% endtrans %}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">{% trans %}Des Questions ?{% endtrans %}</h2>
					<div class="block-23 mb-3">
						<ul>
							<li>
								<span class="icon icon-map-marker"></span>
								<span class="text">Boulevard d'Amgala Casablanca, Maroc</span>
							</li>
							<li>
								<a href="#">
									<span class="icon icon-phone"></span>
									<span class="text">+212-677922859</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="icon icon-envelope"></span>
									<span class="text">lebonartisan.co@gmail.com</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">

				<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><small>
						Copyright &copy;<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with by
						<a href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</small>
				</p>
			</div>
		</div>
	</div>
</footer>

<!-- loader --><div id="ftco-loader" class="show fullscreen">
<svg class="circular" width="48px" height="48px">
	<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
	<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
</svg></div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js">
</script><script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false">
</script><script src="js/google-map.js"></script><script src="js/main.js"></script>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
</script>
</body></html>
