{% extends 'base.html.twig' %}

{% block title %}{% trans  %}Identifiez-vous{% endtrans %}
{% endblock %}

{% block body %}
	<div class="ftco-section bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-8 mb-5">
					<form class="card p-5 bg-white" method="post" action={{path('artisan_auth')}}>
						<h3 class="mb-5">{% trans  %}Identifiez-vous{% endtrans %}</h3>
						<div class="row form-group">
							<div class="col-md-12 mb-3 mb-md-0">
								<label class="font-weight-bold" for="fullname">{% trans  %}Adresse e-mail{% endtrans %}</label>
								<input type="text" class="form-control py-1" required name="_username">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12 mb-3 mb-md-0">
								<label class="font-weight-bold" for="fullname">{% trans  %}Mot de passe{% endtrans %}</label>
								<input type="password" class="form-control py-1" required name="_password"/>
							</div>
						</div>
						<div class="d-flex justify-content-between mb-5">
							<a href="{{path('forgot_password')}}" href="">{% trans  %}Mot de passe oublié ?{% endtrans %}</a>
							<span/>
							{# <a href="{{path('security_registration')}}">Créer un compte</a> #}
							{% if error %}
								<div class="text-danger">
									<span class="oi oi-circle-x"></span>&nbsp;
									{{ error.messageKey|trans(error.messageData, 'security') }}
								</div>
							{% endif %}
						</div>
						<div class="d-flex justify-content-center mb-3">
							<button type="submit" class="btn btn-primary  py-2 px-4" value="Connexion">{% trans  %}Connexion{% endtrans %}</button>
						</div>
					</form>

				</div>

				<div class="col-lg-4">
					<div class="card p-4 mb-3 bg-white card">

						<h3 class="h5 text-black mb-3">{% trans  %}Nos coordonnées{% endtrans %}</h3>

						<p class="mb-0 font-weight-bold">{% trans  %}Adresse postale{% endtrans %}</p>
						<p class="mb-4">Boulevard d'Amgala Casablanca, Maroc</p>
						<p class="mb-0 font-weight-bold">{% trans  %}Téléphone{% endtrans %}</p>

						<p class="mb-4">
							<a href="#">0677922859</a>
						</p>

						<p class="mb-0 font-weight-bold">{% trans  %}Adresse e-mail{% endtrans %}</p>
						<p class="mb-0">
							<a href="#">
								<span class="__cf_email__" data-cfemail="671e081215020a060e0b2703080a060e094904080a">lebonartisan.co@gmail.com</span>
							</a>
						</p>

					</div>

					<div class="card p-4 mb-3 bg-white">
						<a href="">
							<img class="w-100 rounded" src="https://lh6.googleusercontent.com/proxy/vEyR_3xzk84rrST3V-4ug6W9hivtKmYj98RzlJsn-bxG4peo7LGRNSU1ZIQnxcp_S5k=s0-d">
						</img>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
