{% extends 'base.html.twig' %}

{% block title %}Contactez nous
{% endblock %}
{% block body %}
    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row d-flex mb-5 contact-info rounded shadow-lg" style="background-image: url('{{asset('images/contact.png')}}');">
                <div class="col-md-12 mb-4">
                    <h2 class="h3 ml-3 mt-3">{% trans  %}Nos coordonnées{% endtrans %}</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3 mb-2 ml-2">
                    <div class="row">
                        {# <div class="col-md-1">
                            <i class="icon-instagram"></i>
                        </div> #}
                        <div class="col-md">
                            <a href=""><i class="icon-instagram mr-3"></i>
                                @lebonartisan</a>
                        </div>
                    </div>
                    <div class="row">
                        {# <div class="col-md-1">
                            <i class="icon-facebook"></i>
                        </div> #}
                        <div class="col-md">
                            <a href=""> <i class="icon-facebook mr-3"></i>
                                lebonartisan</a>
                        </div>
                    </div>
                    <div class="row">
                        {# <div class="col-md-1">
                            <i class="icon-envelope"></i>
                        </div> #}
                        <div class="col-md">
                            <a href=""><i class="icon-envelope mr-3"></i>
                                lebonartisan.co@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row block-9">
                <div class="col-md-6 order-md-last d-flex mt-4">
                    <form action="{{path('contact_us')}}" class="bg-white p-5 contact-form shadow-lg rounded" method="post">
                        <p>
                            <strong>{% trans  %}Contactez-nous{% endtrans %}</strong>
                        </p>
                        <div class="form-group">
                            {{form_widget(form.fullname)}}
                        </div>
                        <div class="form-group">
                            {{form_widget(form.email)}}
                        </div>
                        <div class="form-group">
                            {{form_widget(form.subject)}}
                        </div>
                        <div class="form-group">
                            {{form_widget(form.message)}}
                            {{form_row(form._token) }}
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <input type="submit" value="{{'Envoyer'|trans}}" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>

                </div>

                <div class="col-md-6 d-flex mt-4">
                    <div class="bg-white w-100 shadow-lg rounded">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5730.344991866796!2d-7.582004544407112!3d33.53734195132566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda632e9741e9c3f%3A0xdb1016cab4c71bfa!2sBoulevard%20d&#39;Amgala%2C%20Casablanca%2C%20Maroc!5e0!3m2!1sfr!2sfr!4v1573169225935!5m2!1sfr!2sfr" class="w-100 h-100" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
