<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{% block title %}{% endblock %}
			- lebonartisan.ma
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="{{asset('css/open-iconic-bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('css/animate.css')}}">

		<link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
		<link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">
		<link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}">

		<link rel="stylesheet" href="{{asset('css/aos.css')}}">

		<link rel="stylesheet" href="{{asset('css/ionicons.min.css')}}">

		<link rel="stylesheet" href="{{asset('css/bootstrap-datepicker.css')}}">
		<link rel="stylesheet" href="{{asset('css/jquery.timepicker.css')}}">

		<link rel="stylesheet" href="{{asset('css/flaticon.css')}}">
		<link rel="stylesheet" href="{{asset('css/icomoon.css')}}">
		<link rel="stylesheet" href="{{asset('css/style.css')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css"> {% block links %}{% endblock %}
		</head>
		<body>
			<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light scrolled awake" id="ftco-navbar">
				<div class="container">
					<a class="navbar-brand" href="/"><img src="{{asset('images/logo3.png')}}" alt="" class="logo"></img>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="oi oi-menu"></span>
					{% trans  %}Menu{% endtrans %}
				</button>

				<div class="collapse navbar-collapse" id="ftco-nav">
					<ul class="navbar-nav ml-auto">
						{# <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li> #}
						{# <li class="nav-item">
												                                <a href="{{path('view_artisans')}}" class="nav-link active">Artisans</a>
												                            </li> #}
							<li class="nav-item"> <a href="{{ path('maintenance') }}" class="nav-link">{% trans %}Aide & Conseils{% endtrans %}</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('maintenance') }}" class="nav-link">{% trans %}Blog{% endtrans %}</a>
						</li>
						<li class="nav-item mr-5">
							<a href="{{path('contact_us')}}" class="nav-link">{% trans %}Contact{% endtrans %}</a>
						</li>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<li class="dropdown nav-item mr-3">
							<a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{% trans  %}Bonjour{% endtrans %}
								<strong>{{ app.user.firstname }}</strong>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a href="{{ path('posts') }}" class="dropdown-item">
									<i class="icon-briefcase mr-2"></i>{% trans  %}Annonces à proximité{% endtrans %}</a>
								<a href="{{path('view_profile',{'id':app.user.id})}}" class="dropdown-item">
									<i class="icon-user mr-2"></i>{% trans  %}Voir votre profil{% endtrans %}</a>
								<a href="{{path('artisan_auth')}}" class="dropdown-item">
									<i class="icon-cog mr-2"></i>{% trans  %}Préférences et confidentialité{% endtrans %}</a>
								<a href="{{ path('logout') }}" class="dropdown-item">
									<i class="icon-sign-out mr-2"></i>{% trans  %}Déconnexion{% endtrans %}</a>
							</div>
						</li>
						{% else %}
							<li class="nav-item cta mr-1 ml-1">
								<a href="{{path('artisan_auth')}}" class="nav-link">{% trans %}Espace Artisans{% endtrans %}</a>
							</li>
							<li class="nav-item cta cta-colored mr-1 ml-1">
								<a href="{{path('security_registration')}}" class="nav-link">{% trans %}S'inscrire{% endtrans %}</a>
							</li>
						{% endif %}

						{% if app.request.getLocale() == 'fr_FR' %}
							<li class="dropdown nav-item ml -5 mr-3">
								<a href="{{ path('french') }}" class="nav-link dropdown-toggle flag-wrapper" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="flag-icon flag-icon-fr mr-2"></span>
									{% trans %}Français{% endtrans %}
								</a>
								<div class="dropdown-menu" aria-labelledby="dropdownLanguage">
									<a href="{{ path('arab') }}" class="dropdown-item">
										<span class="flag-icon flag-icon-ma mr-2"></span>
										{% trans %}Arabe{% endtrans %}</a>
								</div>
							</li>
						{% elseif app.request.getLocale() == 'ar_AR' %}
							<li class="dropdown nav-item ml -5 mr-3">
								<a href="{{ path('arab') }}" class="nav-link dropdown-toggle flag-wrapper" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="flag-icon flag-icon-ma mr-2"></span>
									{% trans %}Arabe{% endtrans %}
								</a>
								<div class="dropdown-menu" aria-labelledby="dropdownLanguage">
									<a href="{{ path('french') }}" class="dropdown-item">
										<span class="flag-icon flag-icon-fr mr-2"></span>
										{% trans %}Français{% endtrans %}</a>
								</div>
							</li>
							{% else %}

						{% endif %}
					</ul>
				</div>
			</div>
		</body>
	</html>
</nav>
<!-- END nav -->

{% block pageheader %}{% endblock %}

{% block body %}{% endblock %}

<section class="ftco-section-parallax">
	<div class="parallax-img d-flex align-items-center">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<h2>{% trans  %}S'abonner à notre Newsletter{% endtrans %}</h2>
					<div class="row d-flex justify-content-center mt-4 mb-4">
						<div class="col-md-12">
							<form action="#" class="subscribe-form">
								<div class="form-group d-flex">
									<input type="text" class="form-control" placeholder="{{'Votre adresse e-mail'|trans}} ">
									<input type="submit" value="{{"S’abonner"|trans}}" class="submit px-3">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">{% trans %}À propos{% endtrans %}</h2>
						{{ 'idea.text'|trans|raw }}
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
						<li class="ftco-animate">
							<a href="#">
								<span class="icon-twitter"></span>
							</a>
						</li>
						<li class="ftco-animate">
							<a href="#">
								<span class="icon-facebook"></span>
							</a>
						</li>
						<li class="ftco-animate">
							<a href="#">
								<span class="icon-instagram"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">{% trans %}Clients{% endtrans %}</h2>
					<ul class="list-unstyled">
						<li>
							<a href="{{ path('maintenance') }}" class="py-2 d-block">{% trans %}Blog{% endtrans %}</a>
						</li>
						<li>
							<a href="{{ path('maintenance') }}" class="py-2 d-block">{% trans %}Aide & Conseils{% endtrans %}</a>
						</li>
						<li>
							<a href="{{ path('post') }}" class="py-2 d-block">{% trans %}Déposer une annonce{% endtrans %}</a>
						</li>
						<li>
							<a href="{{ path('contact_us') }}" class="py-2 d-block">{% trans %}Contactez-nous{% endtrans %}</a>
						</li>
						<li>
							<a href="#" class="py-2 d-block">{% trans %}Faq{% endtrans %}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4 ml-md-4">
					<h2 class="ftco-heading-2">{% trans %}Artisans{% endtrans %}</h2>
					<ul class="list-unstyled">
						<li>
							<a href="{{path('security_registration')}}" class="py-2 d-block">{% trans %}S'inscrire{% endtrans %}</a>
						</li>
						<li>
							<a href="{{path('artisan_auth')}}" class="py-2 d-block">{% trans %}Espace Artisans{% endtrans %}</a>
						</li>
						<li>
							<a href="{{ path('contact_us') }}" class="py-2 d-block">{% trans %}Contactez-nous{% endtrans %}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">{% trans %}Des Questions ?{% endtrans %}</h2>
					<div class="block-23 mb-3">
						<ul>
							<li>
								<span class="icon icon-map-marker"></span>
								<span class="text">Boulevard d'Amgala Casablanca, Maroc</span>
							</li>
							<li>
								<a href="#">
									<span class="icon icon-phone"></span>
									<span class="text">+212-677922859</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="icon icon-envelope"></span>
									<span class="text">lebonartisan.co@gmail.com</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">

				<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><small>
						Copyright &copy;<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with by
						<a href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</small>
				</p>
			</div>
		</div>
	</div>
</footer>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
	<svg class="circular" width="48px" height="48px">
	<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
	<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg>
</div>


<script src="{{asset('js/jquery.min.js')}}"></script>
<script src="{{asset('js/jquery-migrate-3.0.1.min.js')}}"></script>
<script src="{{asset('js/popper.min.js')}}"></script>
<script src="{{asset('js/bootstrap.min.js')}}"></script>
<script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
<script src="{{asset('js/jquery.waypoints.min.js')}}"></script>
<script src="{{asset('js/jquery.stellar.min.js')}}"></script>
<script src="{{asset('js/owl.carousel.min.js')}}"></script>
<script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{asset('js/aos.js')}}"></script>
<script src="{{asset('js/jquery.animateNumber.min.js')}}"></script>
<script src="{{asset('js/scrollax.min.js')}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{{asset('js/google-map.js')}}"></script>
<script src="{{asset('js/main.js')}}"></script></body></html>{% block javascript %}{% endblock %}
