{% extends 'base.html.twig' %}

{% block title %}{{'Nos Artisans'|trans}}
{% endblock %}

{% block pageheader %}
    <div class="jumbotron jumbotron-fluid" style="background-image: url('{{asset('images/adult-artisan-equipment-634511.jpg')}}');" data-stellar-background-ratio="0.7">
        <div class="container">
            <h1 class="mt-5">{{'Nos Artisans'|trans}}</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="ftco-candidates ftco-candidates-2 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mt-2">
                    <div
                        class="ftco-search mb-3 mt-4 d-flex justify-content-center ">
                        {# {{render(controller('App\\Controller\\ViewArtisansController:searchArtisansPageAction'))}} #}
                        <div class="tab-content w-100 mt-1 shadow">
                            {{ form_start(categoryselect, {'attr': {'class': 'search-job'}}) }}
                            <div class="row block-9 mt-4 d-flex justify-content-center mb-3">
                                <div class="form-group w-75">
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon">
                                                <span class="ion-ios-arrow-down"></span>
                                            </div>
                                            {{ form_widget(categoryselect.category) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row block-9 d-flex justify-content-center mb-3">
                                <div class="form-group w-75">
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon">
                                                <span class="icon-map-marker"></span>
                                            </div>
                                            {{ form_widget(categoryselect.city) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row block-9 mb-4 d-flex justify-content-center">
                                <div class="form-group w-75">
                                    <div class="form-field">
                                        <button type="submit" class="form-control btn btn-secondary">{{'Rechercher'|trans}}</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(categoryselect) }}
                        </div>
                    </div>

                    <div class="p-4 mb-3 rounded">
                        <a href="">
                        <img class="w-100 rounded" src="https://lh6.googleusercontent.com/proxy/vEyR_3xzk84rrST3V-4ug6W9hivtKmYj98RzlJsn-bxG4peo7LGRNSU1ZIQnxcp_S5k=s0-d">
                        </img>
                        </a>
                    </div>
                </div>

                <div class="col-md-12 col-lg-8">
                    <div class="p-5 mb-5 rounded">
                        <div class="row d-flex justify-content-center">
                            {% if results is empty %}
                                <h2 class="text-black">{{'Aucun résultat à afficher'|trans}}</h2>
                            {% else %}
                                {% for user in results %}
                                    <div class="w-100">
                                        <div class="team d-md-flex ml-2 shadow rounded mb-5 mt-1">
                                        {% if user.photo is not null or user.photo is not empty %}
                                            <div class="img mr-3 mt-3 ml-3 mb-3" style="background-image: url({{asset('uploads/profile_photos/')}}{{user.photo}});"></div>
                                        {% else %}
                                            {% if user.sexe == 0 %}
                                            <div class="img mr-3 mt-3 ml-3 mb-3" style="background-image: url({{asset('uploads/profile_photos/man.png')}});"></div>
                                            {% else %}
                                            <div class="img mr-3 mt-3 ml-3 mb-3" style="background-image: url({{asset('uploads/profile_photos/woman.png')}});"></div>
                                            {% endif %}
                                        {% endif %}
                                            <div class="text pl-md-4 mr-3 mt-3">
                                                <h2>{{ user.firstname }}
                                                    {{ user.lastname }}</h2>
                                                <span class="icon-my_location"></span> {{ user.city.label |trans }}
                                                {% for cat in user.categories %}
                                                <span class="position">{{cat.label |trans}}</span>
                                                {% endfor %}</p>
                                                <p>
                                                    {{ user.description|length > 110 ? user.description|slice(0, 110) ~ '...' : user.description  }}</p>
                                                <span class="seen">{{'Membre depuis'|trans}}
                                                    {{ user.createdOn |date("d/m/Y")}}</span>
                                                <p class="d-flex justify-content-end">
                                                    <a href="{{path('view_profile',{'id':user.id})}}" class="btn btn-primary py-1 w-50">{{'Consulter le profil'|trans}}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="navigation">
                                    {{ knp_pagination_render(results) }}
                                </div>
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
