<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
    {{ form_start(categoryselect, {'attr': {'class': 'search-job', 'action':path('search_artisans'), 'method':'get'}}) }}
    <div class="row no-gutters">
        <div class="col-md mr-md-3 col-lg-4">
            <div class="form-group">
                <div class="form-field">
                    <div class="select-wrap">
                        <div class="icon">
                            <span class="ion-ios-arrow-down"></span>
                        </div>
                        {{ form_widget(categoryselect.category) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md mr-md-3 col-lg-3">
            <div class="form-group">
                <div class="form-field">
                    <div class="select-wrap">
                        <div class="icon">
                            <span class="icon-map-marker"></span>
                        </div>
                        {{ form_widget(categoryselect.city) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md mr-md-3 col-lg-2">
            <div class="form-group">
                <div class="form-field">
                    <button type="submit" class="form-control btn btn-secondary">{% trans %}Trouver un artisan{% endtrans %}</button>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="form-group">
                <div class="form-field">
                    <a href="{{path('post')}}" class="form-control btn btn-secondary link-btn">
                        <span class="w-100">{% trans %}Déposer une annonce{% endtrans %}<span></a>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(categoryselect) }}
        </div>
