<div class="tab-content w-100 mt-1">
    {{ form_start(categoryselect, {'attr': {'class': 'search-job', 'action':path('search_artisans')}}) }}
        <div class="row block-9 mt-4 d-flex justify-content-center mb-3">
            <div class="form-group w-75">
                <div class="form-field">
                    <div class="select-wrap">
                        <div class="icon">
                            <span class="ion-ios-arrow-down"></span>
                        </div>
                        {{ form_widget(categoryselect.category) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row block-9 d-flex justify-content-center mb-3">
            <div class="form-group w-75">
                <div class="form-field">
                    <div class="select-wrap">
                        <div class="icon">
                            <span class="icon-map-marker"></span>
                        </div>
                        {{ form_widget(categoryselect.city) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row block-9 mb-4 d-flex justify-content-center">
            <div class="form-group w-75">
                <div class="form-field">
                    <button type="submit" class="form-control btn btn-secondary">Rechercher</button>
                </div>
            </div>
        </div>
    {{ form_end(categoryselect) }}
</div>