{% extends 'base.html.twig' %}

{% block title %}
	{{'Annonce enregistrée !'|trans}}
{% endblock %}

{% block body %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="intro row text-center justify-content-center">
						<div class="col-md-9">
							<h6 class="text-black">{{'Votre annonce a bien été enregistrée et sera mise en ligne dans les plus brefs délais.'|trans}}</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
