{% extends 'base.html.twig' %}

{% block title %}{% trans  %}Déposez une annonce{% endtrans %}
{% endblock %}

{% block body %}
	<div class="ftco-section bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-8 mb-5">
					{{form_start(form, {'attr': {'class': 'p-5 bg-white rounded'}}) }}
					<h3 class="mb-1">{% trans  %}Déposez une annonce{% endtrans %}</h3>
					<hr>
					<h5 class="mb-3 mt-5">
						<i class="icon-address-card-o mr-3"></i>{% trans  %}Vos coordonnées{% endtrans %}</h5>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							{{form_widget(form.firstname)}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							{{form_widget(form.lastname)}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							{{form_widget(form.email)}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							{{form_widget(form.phone)}}
						</div>
					</div>
					<h5 class="mb-3 mt-5">
						<i class="icon-briefcase mr-3"></i>{% trans  %}Informations sur les travaux{% endtrans %}</h5>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							{{form_widget(form.title)}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							{{form_widget(form.city)}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							{{form_widget(form.category)}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							{{form_widget(form.description)}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<lable class="mr-4">{% trans  %}Photo N°1{% endtrans %}</label>
							{{form_widget(form.photoFile1)}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<lable class="mr-4">{% trans  %}Photo N°2{% endtrans %}</label>
							{{form_widget(form.photoFile2)}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<lable class="mr-4">{% trans  %}Photo N°3{% endtrans %}</label>
							{{form_widget(form.photoFile3)}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<lable class="mr-4">{% trans  %}Photo N°4{% endtrans %}</label>
							{{form_widget(form.photoFile4)}}
						</div>
					</div>
					<div class="d-flex justify-content-center mt-4">
						<button type="submit" class="btn btn-primary  py-2 px-4" value="Poster">{% trans  %}Déposer votre annonce{% endtrans %}</button>
					</div>
					{{form_end(form)}}

				</div>

				<div class="col-lg-4">
					<div class="p-4 mb-3 bg-white">
						<a href="">
							<img class="w-100 rounded" src="https://lh6.googleusercontent.com/proxy/vEyR_3xzk84rrST3V-4ug6W9hivtKmYj98RzlJsn-bxG4peo7LGRNSU1ZIQnxcp_S5k=s0-d">
						</img>
					</a>
				</div>

				<div class="p-4 mb-3 bg-white">
					<a href="">
						<img class="w-100 rounded" src="https://lh6.googleusercontent.com/proxy/vEyR_3xzk84rrST3V-4ug6W9hivtKmYj98RzlJsn-bxG4peo7LGRNSU1ZIQnxcp_S5k=s0-d">
					</img>
				</a>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
