{% extends 'base.html.twig' %}

{% block title %}{{'Annonces à proximité'|trans}}
{% endblock %}

{% block body %}
	<div class="ftco-candidates ftco-candidates-2 bg-light mt-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-8 mb-5 mt-5">
					<div class="p-5 rounded">
						<div class="row d-flex justify-content-center">
							{% if results is empty %}
								<h2 class="text-black">{{'Aucun résultat à afficher'|trans}}</h2>
							{% else %}
								<h2 class="text-black mb-4">{{'Annonces à proximité'|trans}}</h2>
								{% for post in results %}
									<div class="w-100">
										<div class="team d-md-flex ml-2 rounded mb-4 mt-1 shadow-lg">
											{% if post.photo1 is not null or post.photo1 is not empty %}
												<a href="{{path('view_post',{'id':post.id})}}">
												<div class="img rounded float-left mr-2 mt-2 ml-2 mb-2" style="background-image: url({{asset('uploads/post_photos/')}}{{post.photo1}});"></div>
												</a>
											{% else %}
												<a href="{{path('view_post',{'id':post.id})}}">
													<div class="img rounded float-left mr-2 mt-2 ml-2 mb-2" style="background-image: url({{asset('images/gallery.png')}});"></div>
												</a>
											{% endif %}
											<div class="text pl-md-4 mr-3 w-100 mt-3">
                                                <a href="{{path('view_post',{'id':post.id})}}">
												<h2 class="text-black mb-3 mt-2">{{ post.title }}</h2>
                                                </a>
												<span class="icon-my_location"></span>
												<span>{{ post.city.label |trans}}</span><br>
												<span class="position">{{ post.category.label|trans}}</span><br>
												{# <p>
													{{ post.description|length > 110 ? post.description|slice(0, 110) ~ '...' : post.description  }}</p> #}
												<span class="seen">
													{{ post.createdOn |date("d/m/Y, H:i")}}</span>
											</div>
										</div>
									</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>

				<div class="col-lg-4 mt-5">
					<div class="p-4 mb-3 bg-white">
						<a href="">
							<img class="w-100 rounded" src="https://lh6.googleusercontent.com/proxy/vEyR_3xzk84rrST3V-4ug6W9hivtKmYj98RzlJsn-bxG4peo7LGRNSU1ZIQnxcp_S5k=s0-d">
						</img>
					</a>
				</div>

				<div class="p-4 mb-3 bg-white d-flex d-flex justify-content-center">
					<a href="">
						<img class="w-100 rounded" src="https://lh6.googleusercontent.com/proxy/vEyR_3xzk84rrST3V-4ug6W9hivtKmYj98RzlJsn-bxG4peo7LGRNSU1ZIQnxcp_S5k=s0-d">
					</img>
				</a>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
