{% extends 'base.html.twig' %}

{% block title %}
	{{post.title}}
{% endblock %}

{% block body %}
	<div class="ftco-candidates ftco-candidates-2 bg-light mt-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-8 mb-5 mt-5">
					<div class="card">
						<div class="p-5 bg-white rounded">
							<div id="carouselExampleIndicators" class="carousel slide rounded" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
									{% if post.photo2 is not null %}
										<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
									{% endif %}
									{% if post.photo3 is not null %}
										<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
									{% endif %}
									{% if post.photo4 is not null %}
										<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
									{% endif %}
								</ol>
								<div class="carousel-inner">
									{% if post.photo1 is not null %}
										<div class="carousel-item active w-100 h-100">
											<img style="display: block;height: 400px;" class="img-responsive d-block w-100" src="{{asset('uploads/post_photos/')}}{{post.photo1}}" alt="First slide">
										</div>
									{% else %}
										<div class="carousel-item w-100 h-100">
											<img style="display: block;height: 400px;" class="img-responsive d-block w-100" src="{{asset('images/GALLERY-512.png')}}" alt="First slide">
										</div>
									{% endif %}
									{% if post.photo2 is not null %}
										<div class="carousel-item w-100 h-100">
											<img style="display: block;height: 400px;" class="img-responsive d-block w-100" src="{{asset('uploads/post_photos/')}}{{post.photo2}}" alt="Second slide">
										</div>
									{% endif %}
									{% if post.photo3 is not null %}
										<div class="carousel-item w-100 h-100">
											<img style="display: block;height: 400px;" class="img-responsive d-block w-100" src="{{asset('uploads/post_photos/')}}{{post.photo3}}" alt="Third slide">
										</div>
									{% endif %}
									{% if post.photo4 is not null %}
										<div class="carousel-item w-100 h-100">
											<img style="display: block;height: 400px;" class="img-responsive d-block w-100" src="{{asset('uploads/post_photos/')}}{{post.photo4}}" alt="Fourth slide">
										</div>
									{% endif %}
								</div>
								<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">{{'Previous'|trans}}</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">{{'Next'|trans}}</span>
								</a>
							</div>
							<div class="row d-flex justify-content-left ml-4 mt-3">
								<h2>{{post.title}}</h2>
							</div>
							<span class="seen ml-4 mr-3">
								{{ post.createdOn |date("d/m/Y à H:i")}}</span>
							<span class="icon-my_location"></span>
							<span class="mr-3">{{ post.city.label |trans}}</span>
							<span class="position">{{ post.category.label |trans}}</span>
							<hr class="mb-5">
							<h2 class="mb-3">{{'Description'|trans}}</h2>
							<p>{{ post.description}}</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 mt-5">
					<div
						class="card p-4 mb-3 bg-white pers-infos">
						{# <h3 class="h5 text-black mb-3 d-flex justify-content-center">Informations personnelles</h3> #}

						<p class="mb-4 d-flex justify-content-center">
							<strong>
								<i class="icon-id-card-o mr-2 mt-1 mb-1"></i>
								{{post.firstname}}
								{{post.lastname}}</strong>
						</p>

						<p class="mb-0 font-weight-bold d-flex justify-content-center bg-dark rounded mb-1">
							<i class="icon-phone mr-2 mt-1 mb-1"></i>{{'Téléphone'|trans}}
						</p>
						<p class="mb-4 d-flex justify-content-center">
							<a href="#">(+212)
								{{post.phone}}</a>
						</p>

						<p class="mb-0 font-weight-bold d-flex justify-content-center bg-dark rounded mb-1">
							<i class="icon-envelope mr-2 mt-1 mb-1"></i>
							{{'Adresse e-mail'|trans}}</p>
						<p class="mb-0 d-flex justify-content-center">
							<a href="#">
								<span class="__cf_email__" data-cfemail="671e081215020a060e0b2703080a060e094904080a">{{post.email}}</span>
							</a>
						</p>

					</div>

					<div class="card p-4 mb-3 bg-white d-flex d-flex justify-content-center">
						<a href="">
							<img class="w-100 rounded" src="https://lh6.googleusercontent.com/proxy/vEyR_3xzk84rrST3V-4ug6W9hivtKmYj98RzlJsn-bxG4peo7LGRNSU1ZIQnxcp_S5k=s0-d">
						</img>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
